#first-block
  .wrapper
    .title
      Конверты на выписку для новорожденных оптом по РФ

#second-block
  .wrapper
    .left
      .offer
        Оставьте заявку до
        %span.light 14 сентября
        и получите прайс со скидкой
        %span.light 9%


      .phone
        .small или позвоните по номеру
        8 800 2000 600

    .right
      .form-container
        .top-form
          %input{type: :text, name: 'username', placeholder: 'Введите ваше имя'}
          %input{type: :text, name: 'phone', placeholder: 'Введите ваш номер телефона'}
          .button#order-button
            Получить скидку

#slides
  .wrapper
    .pelenki


#third-block
  .wrapper
    .blocks
      .block
        .icon.gift
        .block-head
          Бесплатная доставка
        .block-content
          Доставка по всей России полностью бесплатна.
        .button Получить прайс

      .block
        .icon.clipboard
        .block-head
          Низкая цена
        .block-content
          Мы работаем напрямую с производителем, поэтому можем позволить себе акции и низкие цены.
        .button Получить прайс

      .block.last
        .icon.ok
        .block-head
          Гарантия качества
        .block-content
          Товар устроит вас или мы вернем вам деньги.
        .button Получить прайс



.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!