#first-block
  .wrapper
    .title
      Конверты на выписку для новорожденных оптом по РФ

#second-block
  .wrapper
    .left
      .offer
        Оставьте заявку до
        %span.light 21 сентября
        и получите прайс со скидкой
        %span.light 10%


      .phone
        .small или позвоните по номеру
        8 (495) 669 52 36

    .right
      .form-container
        .top-form
          %input#name-input{type: :text, name: 'username', placeholder: 'Введите ваше имя'}
          %input{type: :text, name: 'phone', placeholder: 'Введите ваш номер телефона'}
          .button.order-button
            Получить скидку

#slides
  .wrapper
    .pelenki


#third-block
  .wrapper
    .blocks
      .block
        .icon.gift
        .block-head
          Бесплатная доставка
        .block-content
          Доставка по всей России полностью бесплатна.
        .button.get-price Получить прайс

      .block
        .icon.clipboard
        .block-head
          Низкая цена
        .block-content
          Мы работаем напрямую с производителем, поэтому можем позволить себе акции и низкие цены.
        .button.get-price Получить прайс

      .block.last
        .icon.ok
        .block-head
          Гарантия качества
        .block-content
          Товар устроит вас или мы вернем вам деньги.
        .button.get-price Получить прайс


#footer
  Название компании : ООО "Гранд"
  %br
  Юридический Адрес : 115408 Борисовcкие пруды д.34 к.1
  %br
  ОГРН : 11277447272091
  %br
  Инн/Кпп 7724858621/772401001
  %br



.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!

.modal-dialog
  .header
    Оставьте свои контактные данные, чтобы получить прайс со скидкой
  .body
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button.order-button
      Получить прайс